[submodule "submodules/accounting/light"]
	path = submodules/accounting/light
	url = git@gitlab.dynapps.be:verticals/accounting/light.git
	branch = 13.0
[submodule "submodules/accounting/advanced"]
	path = submodules/accounting/advanced
	url = git@gitlab.dynapps.be:verticals/accounting/advanced.git
	branch = 13.0-mig-dyn_amortization_table
[submodule "submodules/oca/reporting-engine"]
	path = submodules/oca/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0
[submodule "submodules/oca/server-ux"]
	path = submodules/oca/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
[submodule "submodules/dynapps"]
	path = submodules/dynapps
	url = git@gitlab.dynapps.be:verticals/dynapps.git
	branch = 13.0
